<% add_stylesheet("about.css") %>

<%= render_partial("about/fork_me.html.erb") %>
<div class="container-fluid">
  <h2>no :cake: here, only screenshots</h2>
  <hr />

  <%= render_partial("about/screenshots.html.erb", { slides: slides }) %>
</div>
