<% add_stylesheet("about.css") %>

<%= render_partial("about/fork_me.html.erb") %>
<div class="container-fluid">
  <h1>things snorkel thinks it can do</h1>
  <hr />

  <%= render_partial("about/screenshots.html.erb", { slides: slides }) %>
</div>
