<div style='margin-top: 60px' >
  <div class="container-fluid">
    <h1>snorkel, snorkel, snorkel</h1>

    <%= render_dashboards() %>
    <a href="#" class="mtl btn btn-primary">create a new dashboard</a>
  </div>
</div>
