<div style='margin-top: 60px' >
  <div class="container-fluid clearfix">
    <a href="#" class="add_dashboard rfloat mtl btn btn-primary mrl">create a new dashboard</a>
    <%= render_dashboards() %>
  </div>
</div>
