<div class="container-fluid">
 
  <%= render_template("helpers/user_status.html.erb") %>

  <div class="clearfix">
    <div class="datasets span6">
      <div class="clearfix">
        <h1 class="lfloat">Datasets</h1>
        <div class="rfloat mll mtl">
          <%= render_partial("datasets/csv_dialog.html.erb") %>
        </div>
      </div>

      <div class="dataset_list">
        <%= render_datasets() %>
      </div>
    </div>

  </div>

  <%= add_socket() %>

</div>
