<% set_default("upload_csv", true) %>

<div class="container-fluid">
 
  <%= render_template("helpers/user_status.html.erb") %>

  <div class="clearfix">
    <div class="datasets">
      <div class="clearfix">
        <h1 class="lfloat">Datasets</h1>
        <% if (upload_csv) { %>
          <div class="rfloat mll mtl">
            <%= render_partial("datasets/csv_dialog.html.erb") %>
          </div>
        <% } %>

        <input class='input-block-level dataset_finder pbl' style='zoom: 1.25' />
      </div>

      <div class="dataset_list ptl">
        <%= render_datasets() %>
      </div>
    </div>

  </div>

  <%= add_socket() %>

</div>
