<div class="container-fluid max-height no-scroll">
  <div class="row-fluid max-height">

    <div class="action_buttons clearfix">
      <div class="mlm btn pane_toggle"><span class="name">Query</span></div>
      <a href="#user_dialog" class="btn show_user_dialog" style="position: absolute; right: 5px; " data-toggle="modal"> History </a>
    </div>

    <div class="below no-select" id="query_sidebar">
      <%= render_query_sidebar() %>
    </div>

    <div id="query_content_wrapper">
      <div id="query_content" class="above clearfix">
        <%= render_query_content() %>
      </div>
    </div>

    <div id='status_bar' class="clearfix">
      <small>
        <span href="#" class="timing"> </span>
        <a href="#" class="details hidden"></a>
        <a href="http://github.com/logv/snorkel/issues/new" id="report_bug">see a bug? let us know!</a>
      </small>
    </div>

  </div>

  <%= render_template("helpers/user_status_and_history.html.erb") %>

  <%= add_socket() %>
</div>

