<td> <%= name %> </td>
<td data-name="display_name" class="editable editable-click auto"> <%= display_name %> </td>
<td><span data-name="hidden" class="editable editable-click" data-type="select"> <%= hidden %> </span></td>
