<div id="user_dialog" class="modal hide" tabindex="-1" role="dialog">
  <div class="modal_header">
    <button type="button" class="close glyphicon glyphicon-minus" data-dismiss="modal" style="left: -10px">
    </button>
    <h2 class="mll">hi!</h2>
  </div>
  <div class="modal_body pal mll">
    <p>
      welcome to snorkel, your (sm)all purpose data diving tool.
    </p>
  </div>

  <div class="modal-footer">
    <a class="btn btn-link lfloat logout" href="#">Logout</a>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
