<div id="user_dialog" class="modal hide" tabindex="-1" role="dialog">
  <div class="modal_header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h2 class="mll">hi!</h2>
  </div>
  <div class="modal_body pal mll">
    <p>
      welcoem to snorkel, your (sm)all purpose data diving tool.
    </p>
  </div>

  <div class="modal-footer">
    <a class="lfloat logout" href="#">(Logout)</a>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
