<form method="post">
  <fieldset>

    <div class="mtl">
      <input type="text" class="input" placeholder="Email" name="username">
    </div>
    
    <div> 
      <input type="password" class="input" placeholder="Password" name="password">
    </div>


    <button type="submit" class="btn">Sign in</button>
  </fieldset>
</form>
