tmp-build
snorkel/node_modules
.*.sw?
sync.sh
sync_package.sh
snorkel/build/
snorkel/config/override.js
snorkel/config/certs/
snorkel/config/local/
snorkel/config/users.htpasswd
output
.DS_Store
/data_dir/
