<div class="clearfix span2">
  <h1 style="margin-top: -30px; margin-bottom: 15px;"><a href="/" >&lt;&lt; back</a></h1>

  <div class="mtl alert alert-info">
    There's some initial data. but then there's also async data that comes in.
    wait for it...
  </div>

  <div class="info mtl">
    <%= sidebar_notice() %>
  </div>
</div>
