.go.btn {
  padding: 5px;  
  text-align: center;
  margin: 5px 0px;
  display: inline-block;
  width: 148px;
  border: 1px solid lightgreen;
  cursor: pointer;
  &:hover {
    background-color: lightgreen;
  }
}

.control-row {
  min-height: 40px;
  margin-bottom: 5px
}

.control-row label {
  width: 100px;
  font-size: 80%;
  color: gray;
  margin-top: 5px;
}

.control-input {
  select, input, .multiselect-container {
    width: 148px;
    min-height: 30px;
  }
}
