<div class="container-fluid">
 
  <div class="rfloat">
    <h1 class="rfloat mrl">snorkel, snorkel, snorkel</h1>
  </div>

  <h2 class="">i want to dive into</h2>
  <div class="datasets">
    <div class="dataset_list">
      <%= render_datasets() %>
    </div>
  </div>
</div>
