<div class="container-fluid">
 
  <div>
    <h1>snorkel, snorkel, snorkel</h1>
  </div>

  <h2>i want to dive into</h2>
  <div class="datasets">
    <div class="dataset_list">
      <%= render_datasets() %>
    </div>
  </div>
</div>
