<% set_default("selected", false) %>
<% set_default("order", false) %>

<select name="<%= name %>" class="span2">
  <% ordered_keys = order || Object.keys(options) %>
  <% _.each(ordered_keys, function(value) { %>
    <% var label = options[value]; %>
      <option value="<%= value %>" 
      <% if (selected && selected == value) { %>
        selected=1
      <% } %>>
      <%= label %>
      </option>
  <% }) %>
</select>
