<div class='sidebar clearfix' id="query_sidebar">

  <form>
    {% for control in viewcontrols %}
      {{ control }}
    {% endfor %}

    {{ querycontrols }}
  </form>

  <h3 class='ml-4'>Filters</h3>

    <div id="filters">

      <div class='filter_group query_filters'>
        {% for filter in filters %}
          {{ filter }}
        {% endfor %}
      </div>
    </div>


<!--     <div class='filter_group hidden'> -->
<!--       {% for filter in compare_filters %} -->
<!--         {{ filter }} -->
<!--       {% endfor %} -->
<!--  -->
<!--  -->
<!--     </div> -->
  </div>

  <h3 class='ml-4'>Stats</h3>

    {{ stats }}

</div>
