<div id="user_dialog" class="modal hide" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h2>Hi! <span class="pull-right"> 
    
        <a class="logout" href="#" style='margin-right: 50px'>Log Out?</a>
    </span></h2>
  </div>
  <div class="modal-body pal">
    <div class="pal mal">
      <div id="query_queue" class="collapsed needsclick" style="text-align: center">
        <h2>Recent Queries</h2>
        <hr />

        <div class="clearfix query_list"> </div>

        <h2>Saved Queries</h2>
        <hr />
        <h2>Shared Queries</h2>
        <hr />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
