#query_content .table_popover a {
  padding: 5px;
  display: block;
  color: #666;
  cursor: pointer;
}

#query_content .table_popover .overview:hover,
#query_content .table_popover .view:hover,
#query_content .table_popover .option:hover {
  background-color: #dedede;
}
