<h2>This dashboard is <b>empty</b></h2>

That means there are no queries saved to it yet.
<br />
You should remedy that, because empty dashboards are sad dashboards. 
<br />

<h3>How to add a query</h3>
<ul>
<li>open a query that you like.</li>
<li>Now, push the little '+' button to the left of 'Go'</li>
<li>add that query to this dashboard.</li>
</ul>

That's it. To remove the query from this dashboard, open the dropdown menu and
'remove' it. 

<br />
And remember... a query can be saved to more than one dashboard.
