<div class="row-fluid span8"> 
  <h2 class="span8" style="margin-top: -25px">an interesting picture</h2>

  <div class="clearfix" id="query_kitten">
    <img src="http://placekitten.com/800/600" width="800" height="600"> </img>
  </div>
</div>
