<div class="container-fluid">

  <h1>Welcome to <b>hello</b>'s controller</h1>

  This is where the magic happens. (also, remember to change this part)

  <%= render_partial("hello/index.html.erb") %>
</div>
