<p style="position: absolute; right: 25px; top: 60px; width: 100px;">your recent, ^^^ saved and shared queries</p>
<h1 style="margin-top: 140px; text-align: center">welcome to <b>snorkel</b></h1>

<h2 style="text-align: center">Setup a query and click Go to get started!</h2>


