<% set_default("icon", "") %>
<% set_default("results", "") %>

<div class="query_tile">
  <div class="query_graph mll">
    <img height="120px" width="100%" src="/images/<%= icon %>"> 
    
    </img>

     <div class="query_data"> 
        <div class="clearfix">
           <div class="query_actions">
             <a href="#"><i class="icon-heart icon-white"></i>Save</a>
             <a href="#"><i class="icon-envelope icon-white"></i>Share</a>
           </div>
        </div>
     </div>
  </div>

  <div class="timestamp">
  </div>

</div>
