<% set_default("title", "") %>
<% set_default("content", "") %>

<span
  class="helpover"
  data-toggle="popover"
  data-placement="bottom"
  data-content='<%= content %>'
  data-original-title='<%= title %>' >
  [?]
</span>
